<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="alertas">
	<div th:if="${mensagemSucesso}" class="alert alert-success alert-dismissible fade show" role="alert">
		<i class="bi bi-check-circle-fill me-1"></i><span th:text="${mensagemSucesso}">Sucesso</span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
	</div>
	<div th:if="${mensagemErro}" class="alert alert-danger alert-dismissible fade show" role="alert">
		<i class="bi bi-exclamation-triangle-fill me-1"></i><span th:text="${mensagemErro}">Erro</span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
	</div>
</div>

</body>
</html>
